* {
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

body {
  background: white;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

p {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

ul {
  list-style: none;
}

i {
  margin: 0;
  padding: 0;
}

.box-menu {
  background: #006182;
  margin-bottom: 20px;
}

.menu-khoahoc {
  padding: 20px 0;
}

.box-menu .menu-khoahoc a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  justify-content: space-between;
}

.box-menu .menu-khoahoc a i {
  font-size: 18px;
  color: #f8f8f8;
}

.box-menu .menu-khoahoc a:hover {
  color: #3d3d3d;
}

.box-menu .menu-khoahoc a:hover i {
  color: #3d3d3d;
}

#collapseExample1, #collapseExample2 {
  margin-top: -5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 19px;
  background: #f8f8f8;
}


ul.GT {
  padding-left: 20px;
  list-style: none;
}

ul.GT li {
  border-bottom: 2px solid white;
}

.GT li a {
  font-size: 16px;
  color: #777777;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.GT li a span {
  font-size: 18px;
  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
}

.GT li a:hover {
  color: black;
}

.dang-ki a:hover {
  background: white;
  color: #006182;
}

.dang-ki a {
  width: 150px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border: 2px solid #006182;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background: #006182;
}