body {
  background: white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

i {
  margin: 0;
  padding: 0;
}

#menu3 ul li a {
  text-decoration: none;
  color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}

#menu3 ul li a:hover {
  color: #0f62cf;
}

#footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer ul#media li {
  list-style: square;
  color: #0f62cf;
}

#footer ul#lienket li span {
  line-height: 0;
}

#footer ul#lienket li a {
  font-size: 16px;
  transition: all 0.6s ease-in-out;
}

#footer ul#lienket li a:hover {
  color: #1877f2;
  font-size: 15px;
}

#footer ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
}

#footer ul li a i {
  transition: all 0.5s ease-in-out;
}

#footer ul li a:hover i {
  color: #1877f2;
}

#footer span {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  line-height: 2.3;
}

#footer .info .dc {
  color: #f5f5f5;
  font-size: 14px;
}