body {
  background: white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

i {
  margin: 0;
  padding: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.dropstart-toggle::after {
  display: none;
}

.dropstart-toggle {
  background-image: none;
  display: block;
}

.clock {
  color: white;
  background-color: black;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  height: fit-content;
}

#header {
  top: 0;
  margin: 0;
  padding: 0 !important;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

#listItem {
  padding-bottom: 10px
}

#listItem > li {
  justify-content: space-between;
}

#listItem > li > a {
  display: block;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

#listItem > li a:hover {
  color: #1877f2;
}

#avatarWebsite {
  height: 4rem;
  object-fit: contain;
}

#avatarUser {
  height: 3rem;
  object-fit: contain;
}

#search {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 2px 10px 0;
  border: none;
}

#search input {
  background: #f5f5f5;
  border: none;
}

#search input:focus {
  outline: none;
  box-shadow: none;
}

#search button {
  background: #f5f5f5;
  border: none;
}

.dropdown {
  display: inline;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
}

.dropdown-item {
  border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-transform: uppercase;
  padding: 10px 100px 10px 20px;
  border-bottom: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.dropdown-item:hover {
  border-bottom: 2px solid #1877f2;
}