#wp-content {
  margin-top: 30px;
}

.box-menu {
  background: #f8f7f7;
  margin-bottom: 50px;
}

#sideBarMenu {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dmtt {
  border-bottom: 2px solid white;
  padding: 20px 0;
}

.box-menu .dmtt a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  justify-content: space-between;
}

.box-menu .dmtt a i {
  font-size: 18px;
  color: rgb(70, 69, 69);
}

.box-menu .dmtt a:hover {
  color: #3d3d3d;
}

.box-menu .dmtt a:hover i {
  color: #ff0000;

}

ul.GT {
  padding-left: 20px;
  list-style: none;
}

ul.GT li {
  border-bottom: 2px solid white;
}

.GT li a {
  color: #777777;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

.GT li a:hover {
  color: black;
}

.content {
  margin-top: 20px;
  display: none;
}

.content ul {
  text-align: justify;
}

.content ul li {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

.content h1 {
  color: #006182;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.content p {
  margin-top: 20px;
}