* {
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

body {
  background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

ul {
  list-style: none;
}

i {
  margin: 0;
  padding: 0;
}


p {
  font-size: 14px;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}


nav {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

.box-menu {
  background: #006182;
  margin-bottom: 20px;
}

.menu-khoahoc {
  padding: 20px 0;
}

.box-menu .menu-khoahoc a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  justify-content: space-between;
}

.box-menu .menu-khoahoc a i {
  font-size: 18px;
  color: #f8f8f8;
}

.box-menu .menu-khoahoc a:hover {
  color: #3d3d3d;
}

.box-menu .menu-khoahoc a:hover i {
  color: #3d3d3d;
}

#collapseExample1, #collapseExample2 {
  margin-top: -5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 19px;
  background: #f8f8f8;
}


ul.GT {
  padding-left: 20px;
  list-style: none;
}

ul.GT li {
  border-bottom: 2px solid white;
}

.GT li a {
  font-size: 16px;
  color: #777777;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.GT li a span {
  font-size: 18px;
  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
}

.GT li a:hover {
  color: black;
}

.row a img {
  width: 100%;
}

.list-item {
  list-style: none;
}

.list-item li {
  margin-bottom: 40px;
}

.cardCourseInfo {
  width: 45%;
  margin-right: 1rem
}

.cardCourseInfo:hover a {
  color: #1877f2;
}

.box {
  margin-left: 10px;
}

.box > a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.box p {
  font-size: 14px;
}

#page-menu {
  margin-left: 40px;
}

.page-item {
  margin: 0;
}

.page-item a {
  color: black;
}

#page-menu {
  margin-top: 50px;
  margin-left: 0;
}

.page-item {
  margin: 0;
}

.page-item a {
  color: black;
}