* {
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

ul li {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

h5 {
  text-transform: uppercase;
}

i {
  margin: 0;
  padding: 0;
}

h1 span {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

body {
  background: white;
}

#up a {
  text-decoration: none;
  color: #7b7b7b;
  font-size: 12px;
}

#hot h3 {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 25px;
  margin-right: 10px;
}

#up a:hover {
  color: #1877f2;
}

#menu {
  background: white;
}

#dame > li {
  justify-content: space-between;
}

#dame > li > a {
  display: block;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  transition: all 0.3s ease-in-out;
  color: black;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
}

#menu2 a {
  color: black;
}

#menu2 a:hover {
  color: #1877f2;
}

#imglogo {
  width: 150px;
}

#tim-kiem input {
  margin-left: 40px;
  border-radius: 20px;
  border: none;
  background: #f5f5f5;
  margin-top: 10px;
  margin-right: -45px;
  padding-left: 20px;
  padding-right: 40px;
  height: 40px;
}

#tim-kiem {
  height: 50px;
}

#dame > li a:hover {
  color: #1877f2;
}

.dropdown {
  display: inline;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
}

.dropdown-item {
  border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-transform: uppercase;
  padding: 10px 100px 10px 20px;
  border-bottom: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.dropdown-item:hover {
  border-bottom: 2px solid #1877f2;
}

#wp-content {
  margin-top: 30px;
}

.box-menu {
  background: #f8f7f7;
  margin-bottom: 50px;
}

.dmtt {
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.box-menu .dmtt a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  justify-content: space-between;
}

.box-menu .dmtt a i {
  font-size: 18px;
  color: rgb(70, 69, 69);
}

.box-menu .dmtt a:hover {
  color: #3d3d3d;
}

.box-menu .dmtt a:hover i {
  color: #ff0000;
}

ul.GT {
  padding-left: 20px;
  list-style: none;
}

ul.GT li {
  border-bottom: 2px solid white;
}

.GT li a {
  color: #777777;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.GT li a:hover {
  color: black;
}

.KhoiUuDai {
  padding-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #c0c0c0;
}

.textThongTin {
  margin-bottom: 30px;
}

.textThongTin ul li {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  line-height: 2;
}

.textThongTin ul li span {
  color: #d8221a;
}

.UuDai {
  border-top: 1px solid #c0c0c0;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px; */
}

.KhoiUuDai {
  box-shadow: rgba(0, 0, 0, 0.35) 0 3px 8px;
  border-radius: 1rem;
  padding-top: 20px;
}

.page-link {
  color: black;
  text-decoration: none;
}