* {
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

ul {
  list-style: none;
}

i {
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0;
}

body {
  background: white;
}

p {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;;
}

body {
  background: white;
  overflow-x: hidden;
}


/* đăng kí */
#dangtintuyendung {
  margin: 50px auto;
}

#dangtintuyendung h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #333333;
  width: 180px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2a5262;
}

#dangtintuyendung p {
  text-align: justify;
  font-size: 14px;
  color: #333333;
}

#dangtintuyendung h2 {
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  color: #006182;
}

#dangtintuyendung span {
  color: rgb(179, 178, 178);
}

.row {
  margin-bottom: 15px;
}

#inputGroupSelect01 {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  color: #777777;
}

.labelInput {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#dang-ki button:hover {
  background: white;
  color: #006182;
}

#dang-ki button {
  background: #006182;
}

.bt button {
  margin-bottom: 20px;
  text-transform: uppercase;
  border: 2px solid #006182;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

#nhap-lai button {
  background: white;
  color: #006182;
}

#nhap-lai button:hover {
  color: white;
  background: #006182;
}

.invalidValue {
  display: none;
  font-size: 14px;
  color: red;
  padding: 0.5rem 0.5rem 0;
}