<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Trang chủ Admin</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/admin-homepage.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div class="d-flex justify-content-sm-between align-items-center" id="userInfo">
      <div class="d-flex justify-content-center align-items-center">
        <h5 style="margin: 0">Xin chào</h5> &nbsp;&nbsp;
        <img alt="" id="userImg" th:src="${admin.avatar}"/>
        &nbsp;&nbsp; <h5 style="margin: 0" th:text="${admin.name} + ' - ' + ${role}"></h5>
      </div>
      <h5 class="clock" id="MyClockDisplay" onload="showTime()" style="margin: 0"></h5>
    </div>
    <div id="statisticalTable">
      <div class="row" style="margin-top: 20px">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <h5 id="titleTable">Thống kê số liệu học viên</h5>
        </div>
        <form class="col-md-7" method="get"
              style="display:flex; flex-direction: column; justify-content: center"
              th:action="@{/collaborator/statistic/page/1}" th:object="${statisticTime}">
          <div style="display:flex; justify-content: space-around">
            <div style="display: flex">
              <label class="d-flex flex-column justify-content-center">Thời gian: </label>
              &nbsp;&nbsp;
              <input class="form-control" id="fromDate"
                     style="width: fit-content" th:field="${statisticTime.fromDate}"
                     type="date"/>
              &nbsp;&nbsp;
              <label class="d-flex flex-column justify-content-center">-</label>
              &nbsp;&nbsp;
              <input class="form-control" id="toDate"
                     style="width: fit-content" th:field="${statisticTime.toDate}" type="date"/>
              &nbsp;&nbsp;
              <button class="d-flex flex-column justify-content-center" onclick="submitForm()"
                      type="submit">
                <i aria-hidden="true" class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div id="barChart" style="width: 95%; margin: 20px auto auto;"></div>

      <div style="width: 95%; margin: auto">
        <div class="statisticalBox">
          <div class="summaryNumber">
            <i aria-hidden="true" class="fa fa-user"></i> &nbsp; Học viên: &nbsp;
            <span style="margin: 0; color: red; width: fit-content;"
                  th:text="${totalStudent} + ' học viên'"></span>
          </div>
          <table class="table table-borderless" style="text-align: center;">
            <thead>
            <tr>
              <th scope="col">Tên Lớp</th>
              <th scope="col">Tổng</th>
              <th scope="col">Mới</th>
              <th scope="col">Chưa đóng học</th>
              <th scope="col">Đã đóng một phần</th>
              <th scope="col">Đã đóng học</th>
              <th style="text-align: left" scope="col">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="index : ${detailStudentStatistics}">
              <th style="text-align: left" scope="row" th:text="${index.className}"></th>
              <td th:text="${index.totalStudent} + ' học viên'"></td>
              <td th:text="${index.numberNewStudent} + ' học viên'"></td>
              <td th:text="${index.numberWaitStudent} + ' học viên'"></td>
              <td th:text="${index.numberPayHalfStudent} + ' học viên'"></td>
              <td th:text="${index.numberConfirmStudent} + ' học viên'"></td>
              <td style="text-align: left" th:text="${index.classState}"></td>
            </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example" class="d-flex justify-content-center"
               th:if="${page} > 1">
            <ul class="pagination">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                   th:href="@{/collaborator/statistic/page/{pageId}
                   (pageId = ${pageId - 1}, fromDate = ${statisticTime.fromDate}, toDate = ${statisticTime.toDate})}">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" th:each="item : ${stt}"
                  th:style="${pageId == item} ? 'font-weight: bold'">
                <a class="page-link"
                   th:href="@{/collaborator/statistic/page/{pageId}
                   (pageId = ${item}, fromDate = ${statisticTime.fromDate}, toDate = ${statisticTime.toDate})}"
                   th:text="${item}"></a>
              </li>
              <li class="page-item">
                <a aria-label="Next" class="page-link" onclick="checkForward()"
                   th:href="@{/collaborator/statistic/page/{pageId}
                   (pageId = ${pageId + 1}, fromDate = ${statisticTime.fromDate}, toDate = ${statisticTime.toDate})}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div th:replace="/admin/footer.html :: #footer"></div>
  </div>
</div>
<script src="/script/clock.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }

  function submitForm() {
    let fromDate = new Date($("#fromDate").val());
    let toDate = new Date($("#toDate").val());

    if (toDate < fromDate) {
      event.preventDefault();
      Swal.fire({
        icon: 'error',
        title: 'Lỗi...',
        text: 'Ngày kết thúc lớn hơn ngày bắt đầu',
        showConfirmButton: false,
        showCloseButton: true
      });
    }
  }
</script>
<script th:inline="javascript">
  $(function(){
    Highcharts.chart('barChart', {
      chart: {
        type: 'column'
      },
      title: {
        text: null
      },
      xAxis: {
        categories: [[${overviewStatistic.keySet()}]],
        crosshair: true
      },
      yAxis: {
        min: 0,
        max: [[${maxStudent}]],
        title: {
          text: null
        }
      },
      tooltip: {
        headerFormat: '<span>{point.key}</span><table>',
        pointFormat: '<tr><td style="padding:0"><b>{point.y} học viên</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          borderWidth: 2,
          borderRadius: 5,
          borderColor: 'rgb(54, 162, 235)',
          color: 'rgba(54, 162, 235, 0.5)'
        }
      },
      series: [{
        name: 'Số học viên',
        data: [[${overviewStatistic.values()}]]
      }]
    });
  });
</script>
</body>
</html>
