<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin cộng tác viên</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/admin-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="userCheckInfo" th:object="${collaborator}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-8 d-flex justify-content-center align-items-center">
          <h5 id="titleUserCheck">Thông tin <span th:text="${role}"></span></h5>
        </div>
        <div class="col-md-4" style="text-align: center" th:if="${admin.role == 'Collaborator'}">
          <a class="btn btn-warning"
             th:href="@{/collaborator/update-collaborator/{id} (id = ${collaborator.id})}"
             th:if="${admin.id == collaborator.id}"
             type="button"> Chỉnh sửa </a>
          <a class="btn btn-primary"
             th:href="@{/authentication/change-password}"
             th:if="${admin.id == collaborator.id}"
             type="button"> Đổi mật khẩu </a>
        </div>
        <div class="col-md-4" style="text-align: center" th:if="${admin.role != 'Collaborator'}">
          <a class="btn btn-warning" th:if="${collaborator.role == 'Collaborator'}"
             th:href="@{/collaborator/update-collaborator/{id} (id = ${collaborator.id})}"
             type="button"> Chỉnh sửa </a>
          <a class="btn btn-warning" th:if="${collaborator.role == 'Owner'}"
             th:href="@{/manager/update-owner}"
             type="button"> Chỉnh sửa </a>
          <a class="btn btn-warning" th:if="${collaborator.role == 'Manager'}"
             th:href="@{/manager/update-manager}"
             type="button"> Chỉnh sửa </a>
          <a class="btn btn-primary"
             th:href="@{/authentication/change-password}"
             th:if="${admin.id == collaborator.id}"
             type="button"> Đổi mật khẩu </a>
          <a class="btn btn-danger"
             th:href="@{/manager/delete-collaborator/{id} (id = ${collaborator.id})}"
             th:if="${collaborator.role == 'Collaborator'}"
             type="button"> Xóa </a>
          <a class="btn btn-danger" onclick="changeManager()"
             th:if="${collaborator.role == 'Manager'}"
             type="button"> Đổi quản lý </a>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i>&nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg" th:src="${collaborator.avatar}"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Họ và tên </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Chức vụ </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${role}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Giới tính </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.gender}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Ngày sinh </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.dob}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Số điện thoại
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.phone}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Email </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${collaborator.email}"></p>
              </div>
            </div>
            <div class="row" th:if="${collaborator.address != null && collaborator.address.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Địa chỉ </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${collaborator.address}"></p>
              </div>
            </div>
            <div class="row" th:if="${collaborator.job != null && collaborator.job.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Công việc </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${collaborator.job}"></p>
              </div>
            </div>
            <div class="row"
                 th:if="${collaborator.workplace != null && collaborator.workplace.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Nơi học tập (làm việc)
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${collaborator.workplace}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Người tạo </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.createdBy}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Ngày tạo </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${collaborator.createdDate}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="listClass" th:if="${classes} != null">
        <hr>
        <h5 style="font-weight: bold; margin-bottom: 0">
          <i aria-hidden="true" class="fa fa-graduation-cap"></i> &nbsp;
          Danh sách lớp học tham gia:
        </h5>
        <hr>
        <table class="table">
          <thead>
          <tr>
            <th class="col-1">STT</th>
            <th class="col">Lớp</th>
            <th class="col">Giảng viên</th>
            <th class="col">Trợ giảng</th>
            <th class="col">Quản lý</th>
            <th class="col">Trạng thái</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each='item, state : ${classes}'>
            <th scope="row">
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${pageId - 1} * ${size} + ${state.index + 1}"></a>
            </th>
            <td>
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${item.name}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${item.teacher}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${item.supporter}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${item.manager}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/collaborator/class/{id}/student/page/1 (id = ${item.id})}"
                 th:text="${item.state}"></a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center"
             th:if="${page} > 1">
          <ul class="pagination">
            <li class="page-item">
              <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                 th:href="@{/collaborator/{id}/class/page/{pageId}(id = ${collaborator.id}, pageId = ${pageId - 1})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:each="item : ${stt}"
                th:style="${pageId == item} ? 'font-weight: bold'">
              <a class="page-link"
                 th:href="@{/collaborator/{id}/class/page/{pageId}(id = ${collaborator.id}, pageId = ${item})}"
                 th:text="${item}"></a>
            </li>
            <li class="page-item">
              <a aria-label="Next" class="page-link" onclick="checkForward()"
                 th:href="@{/collaborator/{id}/class/page/{pageId}(id = ${collaborator.id}, pageId = ${pageId + 1})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="caption">
          <i class="far fa-hand-point-up"></i> - Bấm vào từng lớp học để xem chi tiết thông tin
        </div>
      </div>
    </div>

    <div th:replace="/admin/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }

  function changeManager() {
    Swal.fire({
      title: 'Nhập email của quản lý mới',
      input: 'text',
      inputAttributes: {
        autocapitalize: 'off'
      },
      showCancelButton: true,
      cancelButtonText: 'Đóng',
      confirmButtonText: 'Xác nhận',
      showLoaderOnConfirm: true,
    }).then((email) => {
      if (email.value != null && email.value !== "") {
        return window.location.href = '/manager/change-manager/' + email.value;
      }
    })
  }
</script>
</body>
</html>
