<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Chỉnh sửa lớp học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/class-update.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <form enctype="multipart/form-data" id="inputClass" method="post"
          th:action="@{/manager/update-class}"
          th:object="${class}">
      <div style="margin-bottom: 18px">
        <h5 id="titleClass">Chỉnh sửa thông tin lớp học</h5>
      </div>
      <div id="generalInformation">
        <hr>
        <input style="display: none" th:field="*{id}" type="number">
        <div class="row" style="font-size: 18px; padding: 10px 20px 0;">
          <div class="col-md-7">
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classFullName" style="font-weight: bold">
                Tên đầy đủ
              </label>
              <div class="col-sm-7">
                <input class="form-control" id="classFullName" th:field="*{fullName}" type="text">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="className" style="font-weight: bold">
                Mã lớp
              </label>
              <div class="col-sm-7">
                <input class="form-control" id="className" th:field="*{name}" type="text">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classHowToLearn"
                     style="font-weight: bold">
                Hình thức học
              </label>
              <div class="col-sm-2">
                <select class="form-control" id="classHowToLearn" name="classHowToLearn"
                        th:field="*{howToLearn}">
                  <option th:value="Online">Online</option>
                  <option th:value="Offline">Offline</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="className" style="font-weight: bold">
                Link lớp học
              </label>
              <div class="col-sm-7">
                <input class="form-control" id="classUrl" th:field="*{urlClass}" type="text">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classDateOpening"
                     style="font-weight: bold">
                Ngày khai giảng
              </label>
              <div class="col-sm-7">
                <input class="form-control" id="classDateOpening" th:field="*{dateOpeningLocalDate}"
                       type="date">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classTeacher" style="font-weight: bold">
                Giảng viên
              </label>
              <div class="col-sm-7">
                <select class="form-control"
                        id="classTeacher"
                        th:field="*{teacherId}" />
                  <option th:each="i : ${teachers}"
                          th:selected="${i.name == class.teacher}"
                          th:text="${i.name}"
                          th:value="${i.id}">
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classManager" style="font-weight: bold">
                Quản lý lớp
              </label>
              <div class="col-sm-7">
                <select class="form-control"
                        id="classManager"
                        th:field="*{managerEmail}" />
                  <option th:each="i : ${admins}"
                          th:selected="${i.name == class.manager}"
                          th:text="${i.name + ' - ' + i.role}"
                          th:value="${i.email}">
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classSupporter" style="font-weight: bold">
                Trợ giảng
              </label>
              <div class="col-sm-7">
                <select class="form-control"
                        id="classSupporter"
                        th:field="*{supporterEmail}" />
                  <option th:each="i : ${admins}"
                          th:selected="${i.name == class.supporter}"
                          th:text="${i.name + ' - ' + i.role}"
                          th:value="${i.email}">
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-4 col-form-label" for="classCourse" style="font-weight: bold">
                Khóa học
              </label>
              <div class="col-sm-7">
                <select class="form-control"
                        id="classCourse"
                        th:field="*{courseId}" />
                  <option th:each="i : ${courses}"
                          th:selected="${i.name == class.course}"
                          th:text="${i.name}"
                          th:value="${i.id}">
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3 row" th:if="${class.state != 'PREP'}">
              <label class="col-sm-4 col-form-label" for="classState" style="font-weight: bold">
                Trạng thái
              </label>
              <div class="col-sm-7">
                <select class="form-control" id="classState" th:field="*{state}" />
                  <option th:selected="${class.state == 'Chờ khai giảng'}" th:value="WAIT">
                    Sắp khai giảng
                  </option>
                  <option th:selected="${class.state == 'Đang diễn ra'}" th:value="DOING">
                    Đang diễn ra
                  </option>
                  <option th:selected="${class.state == 'Đã kết thúc'}" th:value="FINISHED">
                    Đã kết thúc
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <label class="mb-3 row" for="classSpecial" style="font-weight: bold">
              Ưu đãi (có thể bỏ trống)
            </label>
            <textarea class="mb-3 row" id="classSpecial" style="height: 88%" th:field="*{special}"></textarea>
          </div>
        </div>
      </div>
      <div style="margin-top: 1rem; display: flex">
        <button class="btn btn-primary" onclick="submitForm()"
                style="margin: auto; padding: 10px 30px; font-size: 18px" type="submit">Xác nhận
        </button>
        <button class="btn btn-primary" style="margin: auto; padding: 10px 30px; font-size: 18px"
                type="reset">Nhập lại
        </button>
      </div>
    </form>

    <div th:replace="/admin/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script referrerpolicy="origin"
        src="https://cdn.tiny.cloud/1/e2wedt2tvkp3ua3z06h11jkaw8beqirx03trciocxlnsjsmh/tinymce/5/tinymce.min.js">
</script>
<script>
  $("#notification").click(function () {
    $("#notification").hide();
  });

  tinymce.init({
    selector: '#classSpecial',
    resize: false,
    content_style: 'body { font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size:16px;'
  });

  function isEmpty(string) {
    return string === "";
  }

  function submitForm() {
    if (isEmpty($("#classFullName").val()) || isEmpty($("#className").val()) || isEmpty(
        $("#classHowToLearn").val()) || isEmpty($("#classDateOpening").val()) || isEmpty(
        $("#classTeacherName").val())) {
      event.preventDefault();
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        html: '<p style="font-family: Roboto, sans-serif">Thông tin bạn nhập không hợp lệ !</p>'
            + '<span style="font-family: Roboto, sans-serif">Xin hãy kiểm tra kĩ lại thông tin bạn nhập</span>',
        showConfirmButton: false,
        showCloseButton: true
      });
    }
  }
</script>
</body>
</html>
