<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin lớp học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/class-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="classInfo" th:object="${class}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-9 d-flex justify-content-center align-items-center">
          <h5 id="titleClass">Thông tin lớp học</h5>
        </div>
        <div class="col-md-3" style="text-align: center">
          <a class="btn btn-warning" th:href='@{/manager/update-class/{id} (id = ${class.id})}'
             th:if="${admin.role != 'Collaborator' && class.state != 'Dự bị'}"
             type="button">
            Chỉnh sửa
          </a>
          <a class="btn btn-danger" th:href='@{/manager/delete-class/{id} (id = ${class.id})}'
             th:if="${admin.role != 'Collaborator' && class.state != 'Dự bị'}"
             type="button">
            Xóa
          </a>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i>&nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg" th:src="${class.avatar}"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Tên đầy đủ</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.fullName}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Mã lớp</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Khóa học</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.course}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Số học viên</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.numberStudent} + ' học viên'"></p>
              </div>
            </div>
            <div th:if="${class.state != 'Dự bị'}">
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Hình thức
                  học</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0"
                     th:text="${class.howToLearn}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Giảng viên</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0"
                     th:text="${class.teacher}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Quản lý lớp</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0; text-align: justify; padding-right: 2rem"
                     th:text="${class.manager}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Email quản
                  lý</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0; text-align: justify; padding-right: 2rem"
                     th:text="${class.managerEmail}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Trợ giảng</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0; text-align: justify; padding-right: 2rem"
                     th:text="${class.supporter}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">Email trợ
                  giảng</label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0; text-align: justify; padding-right: 2rem"
                     th:text="${class.supporterEmail}"></p>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 col-form-label" style="font-weight: bold">
                  Ngày khai giảng
                </label>
                <div class="col-sm-8 d-flex flex-column justify-content-center">
                  <p style="margin: 0"
                     th:text="${class.dateOpening}"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Trạng thái</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.state}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Người tạo </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.createdBy}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Ngày tạo </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.createdDate}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Link lớp học </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <a th:text="${class.urlClass}" th:href="${class.urlClass}" style="margin: 0"></a>
              </div>
            </div>
            <div class="row" th:if="${class.special != null && class.special.trim() != ''}">
              <label class="col-form-label" style="font-weight: bold">Ưu đãi</label>
              <div>
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:utext="${class.special}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="studentList" th:if="${showRegisters == true}">
        <hr>
        <div class="row">
          <div class="col-md-5 d-flex align-items-center">
            <h5 style="font-weight: bold; margin-bottom: 0">
              <i aria-hidden="true" class="fa fa-users"></i> &nbsp; Danh sách học viên:
            </h5>
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a class="btn btn-primary" type="button" th:onclick="'addStudent('+ ${class.id} +')'">
              Thêm học viên
            </a>
          </div>
          <div class="col-md-5 d-flex justify-content-end align-items-center"
               th:if="${class.howToLearn == 'Online'}">
            <a style="text-decoration: none; color: black"
               th:href="@{/collaborator/class/{id}/video/page/1 (id = ${class.id})}">
              <h5 style="font-weight: bold; margin-bottom: 0">
                <i class="fas fa-photo-video"></i>
                &nbsp; Danh sách bài giảng: &nbsp;
                <i class="fas fa-arrow-alt-circle-right"></i>
              </h5>
            </a>
          </div>
        </div>
        <div>
          <hr>
          <table class="table" th:if="${registers != null}">
            <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Người thêm</th>
              <th scope="col">Học viên</th>
              <th scope="col">Ngày đăng ký</th>
              <th scope="col">Trạng thái</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each='item, state : ${registers}'>
              <th scope="row">
                <p style="margin: 0" th:text="${pageId - 1} * ${size} + ${state.index + 1}"></p>
              </th>
              <td>
                <a class="info"
                   th:href="@{/collaborator/{id}/class/page/1 (id = ${item.collaboratorId})}"
                   th:text="${item.collaboratorName != null} ? ${item.collaboratorName} : ''"></a>
              </td>
              <td>
                <a class="info"
                   th:href="@{/collaborator/user/{id}/class/page/1 (id = ${item.studentId})}"
                   th:text="${item.studentName}"></a>
              </td>
              <td>
                <p style="margin: 0" th:text="${item.createdDate}"></p>
              </td>
              <td>
                <p style="margin: 0" th:text="${item.state}"></p>
              </td>
              <td>
                <a id="changeStateButton" type="button"
                   th:onclick="'updateStateRegister('+ ${item.id} + ',' + ${class.id} + ')'"
                   th:if="${admin.role != 'Collaborator'
                            or admin.email == class.supporterEmail
                            or admin.email == class.managerEmail}">
                  <i aria-hidden="true" class="far fa-edit"></i>
                </a>
                &nbsp;&nbsp;
                <a id="deleteStudentButton" type="button"
                   th:href="@{/collaborator/delete-register/{id} (id = ${item.id}, classId = ${class.id})}"
                   th:if="${admin.role != 'Collaborator'
                            or admin.email == class.supporterEmail
                            or admin.email == class.managerEmail}">
                  <i aria-hidden="true" class="far fa-trash-alt"></i>
                </a>
              <td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="d-flex justify-content-center"
               th:if="${page} > 1">
            <ul class="pagination">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                   th:href="@{/collaborator/class/{id}/student/page/{pageId}(id = ${class.id}, pageId = ${pageId - 1})}">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" th:each="item : ${stt}"
                  th:style="${pageId == item} ? 'font-weight: bold'">
                <a class="page-link"
                   th:href="@{/collaborator/class/{id}/student/page/{pageId}(id = ${class.id}, pageId = ${item})}"
                   th:text="${item}"></a>
              </li>
              <li class="page-item">
                <a aria-label="Next" class="page-link" onclick="checkForward()"
                   th:href="@{/collaborator/class/{id}/student/page/{pageId}(id = ${class.id}, pageId = ${pageId + 1})}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="caption" th:if="${admin.role != 'Collaborator'}">
            <i aria-hidden="true" class="far fa-trash-alt"></i> - Xóa thông tin đăng ký
          </div>
          <div class="caption" th:if="${admin.role != 'Collaborator'}">
            <i aria-hidden="true" class="far fa-edit"></i> - Thay đổi trạng thái học viên trong lớp
          </div>
        </div>
      </div>

      <div id="videoLectures" th:if="${class.howToLearn == 'Online' && showVideoLectures == true}">
        <hr>
        <div class="row">
          <div class="col-md-5 d-flex align-items-center"
               th:if="${class.howToLearn == 'Online'}">
            <a style="text-decoration: none; color: black"
               th:href="@{/collaborator/class/{id}/student/page/1 (id = ${class.id})}">
              <h5 style="font-weight: bold; margin-bottom: 0">
                <i class="fas fa-arrow-alt-circle-left"></i>
                &nbsp; <i aria-hidden="true" class="fa fa-users"></i> &nbsp;
                Danh sách học viên:
              </h5>
            </a>
          </div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <a class="btn btn-primary" type="button" th:if="${admin.role != 'Collaborator'}"
               th:href="@{/manager/class/{id}/create-video-lecture (id = ${class.id})}">
              Thêm bài giảng
            </a>
          </div>
          <div class="col-md-5 d-flex justify-content-end align-items-center">
            <h5 style="font-weight: bold; margin-bottom: 0">
              <i class="fas fa-photo-video"></i> &nbsp; Danh sách bài giảng:
            </h5>
          </div>
        </div>
        <div>
          <hr>
          <table class="table" th:if="${videoLectures != null}">
            <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên bài giảng</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each='item, state : ${videoLectures}'>
              <th scope="row">
                <a class="info"
                   th:href="@{/collaborator/video-lecture/{id} (id = ${item.id})}"
                   th:text="${pageId - 1} * ${size} + ${state.index + 1}"></a>
              </th>
              <td>
                <a class="info"
                   th:href="@{/collaborator/video-lecture/{id} (id = ${item.id})}"
                   th:text="${item.name}"></a>
              </td>
              <td>
                <a id="editButton" th:href="@{/manager/class/{classId}/update-video-lecture/{videoLectureId} (classId = ${class.id}, videoLectureId = ${item.id})}"
                   type="button" th:if="${admin.role != 'Collaborator'}">
                  <i aria-hidden="true" class="far fa-edit"></i>
                </a>
                &nbsp;
                <a id="deleteButton"
                   th:href="@{/manager/class/{classId}/delete-video-lecture/{videoLectureId} (classId = ${class.id}, videoLectureId = ${item.id})}"
                   type="button" th:if="${admin.role != 'Collaborator'}">
                  <i aria-hidden="true" class="far fa-trash-alt"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="d-flex justify-content-center"
               th:if="${page} > 1">
            <ul class="pagination">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                   th:href="@{/collaborator/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${pageId - 1})}">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" th:each="item : ${stt}"
                  th:style="${pageId == item} ? 'font-weight: bold'">
                <a class="page-link"
                   th:href="@{/collaborator/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${item})}"
                   th:text="${item}"></a>
              </li>
              <li class="page-item">
                <a aria-label="Next" class="page-link" onclick="checkForward()"
                   th:href="@{/collaborator/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${pageId + 1})}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="caption">
            <i class="far fa-hand-point-up"></i> - Bấm vào từng bài giảng để xem chi tiết
          </div>
          <div class="caption" th:if="${admin.role != 'Collaborator'}">
            <i aria-hidden="true" class="far fa-trash-alt"></i> - Xóa bài giảng
          </div>
          <div class="caption" th:if="${admin.role != 'Collaborator'}">
            <i aria-hidden="true" class="far fa-edit"></i> - Sửa thông tin bài giảng
          </div>
        </div>
      </div>
    </div>
    <div th:replace="/admin/footer.html :: #footer"></div>
  </div>

  <div th:replace="notification :: notification"></div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }

  function addStudent(classId) {
    Swal.fire({
      icon: 'question',
      title: 'Học viên đã có thông tin trong hệ thống ?',
      showDenyButton: true,
      confirmButtonText: 'Có',
      denyButtonText: `Không`,
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Nhập email học viên',
          input: 'text',
          inputAttributes: {
            autocapitalize: 'off'
          },
          showCancelButton: true,
          cancelButtonText: 'Đóng',
          confirmButtonText: 'xác nhận',
          showLoaderOnConfirm: true,
        }).then((email) => {
          if (email.value != null && email.value !== "") {
            window.location = '/collaborator/class/' + classId + '/add-student/' + email.value;
          }
        })
      } else if (result.isDenied) {
        window.location = '/collaborator/create-user';
      }
    })
  }

  function updateStateRegister(registerId, classId) {
    Swal.fire({
      title: 'Chọn trạng thái muốn cập nhật',
      input: 'select',
      inputOptions: {
        NEW: 'Mới đăng kí',
        WAIT: 'Chưa đóng học',
        PAY_HALF: 'Đã đóng một phần',
        CONFIRM: 'Đã đóng học'
      },
      inputPlaceholder: 'Trạng thái',
      showCancelButton: true,
      cancelButtonText: 'Đóng',
      confirmButtonText: 'xác nhận',
      showLoaderOnConfirm: true,
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = '/collaborator/register/' + registerId
            + '/update-state?state=' + result.value
            + '&classId=' + classId;
      }
    })
  }
</script>
</body>
</html>
