<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý khóa học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/course-management.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="tableCourses">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <h5 id="titleTable">Danh sách khóa học</h5>
        </div>
        <div class="col-md-2" style="text-align: center">
          <a class="btn btn-primary" href="/manager/create-course" type="button"
             th:if="${admin.role != 'Collaborator'}">
            Thêm mới
          </a>
        </div>
        <form class="col-md-4" method="get"
              style="display:flex; flex-direction: column; justify-content: center"
              th:action="@{/collaborator/course-management/page/1}" th:object="${search}">
          <div style="display:flex;">
            <select class="form-select" id="inputGroupSelect01" style="width: fit-content"
                    th:field="${search.typeId}">
              <option th:selected="${search.typeId == null}" th:value="null">
                Phân loại
              </option>
              <option th:each='item : ${typeCourses}'
                      th:selected="${search.typeId == item.id}"
                      th:value="${item.id}" th:text="${item.name}">
              </option>
            </select>
            <div class="input-group input-group-sm mb-3" style="margin-bottom: 0!important">
              <input class="form-control" placeholder="Tìm theo tên"
                     style="padding-left: 10px" th:field="${search.name}" type="text">
              <button class="input-group-text" id="inputGroup-sizing-sm" type="submit">
                <i aria-hidden="true" class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th class="col-1">STT</th>
          <th class="col-4">Tên khóa học</th>
          <th class="col">Học phí</th>
          <th class="col">Thời lượng</th>
          <th class="col-2">Phân loại</th>
          <th class="col">Ngày tạo</th>
          <th class="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each='item, state : ${courses}'>
          <th scope="row">
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${pageId - 1} * ${size} + ${state.index + 1}"></a>
          </th>
          <td>
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${item.name}"></a>
          </td>
          <td>
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${item.price} + ' triệu'"></a>
          </td>
          <td>
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${item.totalHourStudy} + ' giờ'"></a>
          </td>
          <td>
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${item.type}"></a>
          </td>
          <td>
            <a class="info" th:href="@{/collaborator/course/{id} (id = ${item.id})}"
               th:text="${item.createdDate}"></a>
          </td>
          <td th:if="${admin.role != 'Collaborator'}">
            <a id="editButton" type="button"
               th:href="@{/manager/update-course/{id} (id = ${item.id})}">
              <i aria-hidden="true" class="far fa-edit"></i>
            </a>
            &nbsp;
            <a id="deleteButton" type="button"
               th:href="@{/manager/delete-course/{id} (id = ${item.id})}">
              <i aria-hidden="true" class="far fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="d-flex justify-content-center"
           th:if="${page} > 1">
        <ul class="pagination">
          <li class="page-item">
            <a aria-label="Previous" class="page-link" onclick="checkBehind()"
               th:href="@{/collaborator/course-management/page/{pageId}(pageId = ${pageId - 1}, typeId = ${search.typeId}, name = ${search.name})}">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" th:each="item : ${stt}"
              th:style="${pageId == item} ? 'font-weight: bold'">
            <a class="page-link"
               th:href="@{/collaborator/course-management/page/{pageId}(pageId = ${item}, typeId = ${search.typeId}, name = ${search.name})}"
               th:text="${item}"></a>
          </li>
          <li class="page-item">
            <a aria-label="Next" class="page-link" onclick="checkForward()"
               th:href="@{/collaborator/course-management/page/{pageId}(pageId = ${pageId + 1}, typeId = ${search.typeId}, name = ${search.name})}">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="caption">
        <i class="far fa-hand-point-up"></i> - Bấm vào từng khóa học để xem chi tiết thông tin
      </div>
      <div class="caption" th:if="${admin.role != 'Collaborator'}">
        <i aria-hidden="true" class="far fa-trash-alt"></i> - Xóa khóa học
      </div>
      <div class="caption" th:if="${admin.role != 'Collaborator'}">
        <i aria-hidden="true" class="far fa-edit"></i> - Sửa thông tin khóa học
      </div>
    </div>

    <div th:replace="/admin/footer.html :: #footer"></div>
  </div>

  <div th:replace="notification :: notification"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
