<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm tin tức</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/news-create.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <form enctype="multipart/form-data" id="inputCourse" method="post"
          th:action="@{/collaborator/create-news}"
          th:object="${news}">
      <div style="margin-bottom: 18px">
        <h5 id="titleCourse">Thêm tin tức</h5>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i> &nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row" style="font-size: 18px">
          <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
            <div id="img-preview"></div>
            <input accept="image/*" id="choose-file" name="choose-file" th:field="*{file}"
                   type="file"/>
            <label for="choose-file">Chọn ảnh</label>
          </div>
          <div class="col-md-7">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="newsName" style="font-weight: bold">
                Tiêu đề
              </label>
              <div class="col-sm-6">
                <input class="form-control" id="newsName" th:field="*{name}" type="text">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="newsSource" style="font-weight: bold">
                Nguồn
              </label>
              <div class="col-sm-4">
                <input class="form-control" id="newsSource" placeholder="có thể bỏ trống"
                       th:field="*{source}" type="text">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="newsType" style="font-weight: bold">
                Phân loại
              </label>
              <div class="col-sm-4">
                <select class="form-control" id="newsType" name="course" th:field="*{typeId}">
                  <option th:each='item : ${listTypeNews}'
                          th:value="${item.id}" th:text="${item.name}">
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="newsDesc" style="font-weight: bold">Mô tả</label>
              <textarea class="form-control" id="newsDesc" rows="3" style="resize: none"
                        th:field="*{desc}">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fa fa-book"></i> &nbsp; Nội dung chi tiết:
        </h5>
        <hr>
        <textarea class="mb-3 row" id="newsText" style="height: 88%" th:field="*{content}">
        </textarea>
      </div>
      <div style="margin-top: 1rem; display: flex">
        <button class="btn btn-primary" style="margin: auto; padding: 10px 30px; font-size: 18px"
                type="reset">Nhập lại
        </button>
        <button class="btn btn-primary" onclick="submitForm()"
                style="margin: auto; padding: 10px 30px; font-size: 18px" type="submit">Xác nhận
        </button>
      </div>
    </form>

    <div th:replace="/admin/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script referrerpolicy="origin"
        src="https://cdn.tiny.cloud/1/e2wedt2tvkp3ua3z06h11jkaw8beqirx03trciocxlnsjsmh/tinymce/5/tinymce.min.js">
</script>
<script>
  const chooseFile = document.getElementById("choose-file");
  const imgPreview = document.getElementById("img-preview");

  chooseFile.addEventListener("change", function () {
    getImgData();
  });

  function getImgData() {
    const files = chooseFile.files[0];
    if (files) {
      const fileReader = new FileReader();
      fileReader.readAsDataURL(files);
      fileReader.addEventListener("load", function () {
        imgPreview.style.display = "block";
        imgPreview.innerHTML = '<img src="' + this.result + '"  alt=""/>';
      });
    }
  }

  var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
  tinymce.init({
    selector: '#newsText',
    plugins: 'preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
    imagetools_cors_hosts: ['picsum.photos'],
    menubar: 'file edit view insert format tools table help',
    toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
    toolbar_sticky: true,
    autosave_ask_before_unload: true,
    autosave_interval: '30s',
    autosave_prefix: '{path}{query}-{id}-',
    autosave_restore_when_empty: false,
    autosave_retention: '2m',
    image_advtab: true,
    importcss_append: true,
    file_picker_callback: function (callback, value, meta) {
      /* Provide file and text for the link dialog */
      if (meta.filetype === 'file') {
        callback('https://www.google.com/logos/google.jpg', {text: 'My text'});
      }

      /* Provide image and alt text for the image dialog */
      if (meta.filetype === 'image') {
        callback('https://www.google.com/logos/google.jpg', {alt: 'My alt text'});
      }

      /* Provide alternative source and posted for the media dialog */
      if (meta.filetype === 'media') {
        callback('movie.mp4',
            {source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg'});
      }
    },
    template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
    template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
    height: 600,
    image_caption: true,
    quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
    noneditable_noneditable_class: 'mceNonEditable',
    toolbar_mode: 'sliding',
    contextmenu: 'link image imagetools table',
    skin: useDarkMode ? 'oxide-dark' : 'oxide',
    content_css: useDarkMode ? 'dark' : 'default',
    content_style: 'body { font-family: Roboto,sans-serif; font-size:14px; }'
  });

  function submitForm() {
    const myContent = tinymce.get("newsText").getContent();
    if (isEmpty($("#newsName").val()) || isEmpty($("#newsType").val()) || isEmpty(
        $("#newsDesc").val()) || isEmpty(myContent)) {
      event.preventDefault();
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        html: '<p style="font-family: Roboto, sans-serif">Thông tin bạn nhập không hợp lệ !</p>'
            + '<span style="font-family: Roboto, sans-serif">Xin hãy kiểm tra kĩ lại thông tin bạn nhập</span>',
        showConfirmButton: false,
        showCloseButton: true
      });
    }
  }
</script>
</body>
</html>
