<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin loại khóa học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/type-course-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="courseInfo" th:object="${typeCourse}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-9 d-flex justify-content-center align-items-center">
          <h5 id="titleCourse">Thông tin loại khóa học</h5>
        </div>
        <div class="col-md-3" style="text-align: center" th:if="${admin.role != 'Collaborator'}">
          <a class="btn btn-warning"
             th:href="@{/manager/update-type-course/{id} (id = ${typeCourse.id})}"
             type="button">Chỉnh sửa</a>
          <a class="btn btn-danger"
             th:href="@{/manager/delete-type-course/{id} (id = ${typeCourse.id})}"
             type="button">Xóa</a>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i> &nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg"
                 src="https://res.cloudinary.com/dvr6dfixz/image/upload/v1678987892/course/unknown_course.png"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">
                Tên loại khóa học
              </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${typeCourse.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">
                Người tạo
              </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${typeCourse.createdBy}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Ngày tạo </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${typeCourse.createdDate}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label" style="font-weight: bold"> Mô tả </label>
              <div>
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${typeCourse.desc}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="/admin/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script>
  $("#notification").click(function () {
    $("#notification").hide();
  });
</script>
</body>
</html>

