<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin bài giảng</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/video-lecture-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/admin/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="videoInfo" th:object="${videoLecture}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-8 d-flex justify-content-center align-items-center">
          <h5 id="titleVideo">Thông tin bài giảng</h5>
        </div>
        <div class="col-md-4" style="text-align: center">
          <a class="btn btn-warning"
             th:href="@{/manager/class/{classId}/update-video-lecture/{id} (classId = ${videoLecture.classId}, id = ${videoLecture.id})}"
             th:if="${admin.role != 'Collaborator'}"
             type="button">
            Chỉnh sửa
          </a>
          <a class="btn btn-danger" th:href="@{/manager/class/{classId}/delete-video-lecture/{id} (classId = ${videoLecture.classId}, id = ${videoLecture.id})}"
             th:if="${admin.role != 'Collaborator'}"
             type="button">
            Xóa
          </a>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h3 style="text-align: center" th:text="${'Bài ' + videoLecture.videoOrder + ':'}"></h3>
        <h3 style="text-align: center" th:text="${videoLecture.name}"></h3>
        <hr>
        <p style="margin-bottom: 0"> Mô tả bài giảng: </p>
        <p th:text="${videoLecture.desc}"></p>
      </div>
      <div id="contentVideo">
        <video autoplay preload controls controlsList="nodownload" style="width: 100%">
          <source th:src="${videoLecture.url}" type="video/mp4">
        </video>
      </div>
    </div>

    <div th:replace="/admin/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script>
  $("#notification").click(function () {
    $("#notification").hide();
  });
</script>
</body>
</html>

