<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin khóa học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/detail-course.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop preload style="width: 100%">
      <source th:src="${video_banner}" type="video/mp4">
    </video>
  </div>

  <div class="container" id="wp-content">
    <div class="row">
      <div class="col-md-3" style="margin-top: 40px;">
        <div class="box-menu" th:each="type : ${typeCourses}"
             style="border-top-left-radius: 20px;border-bottom-right-radius: 20px;">
          <div class="menu-khoahoc">
            <a th:aria-controls="${'collapseExample' + type.id}"
               th:href="${'#collapseExample' + type.id}"
               aria-expanded="false" class="d-flex"
               data-toggle="collapse">
              <span th:text="${type.name}"></span>
              <div style="margin-right: 20px;"><i class="fas fa-chevron-down"></i></div>
            </a>
          </div>
          <div class="collapse show" th:id="${'collapseExample' + type.id}">
            <ul class="GT" th:each="item : ${fullCourse}">
              <li th:if="${item.type == type.name}">
                <a th:href="@{/course/{id}(id = ${item.id})}"
                   th:style="${item.id == course.id} ? 'color: black'">
                  <i class="fas fa-arrow-circle-right"></i> <span th:text="${item.name}"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9" style="margin-top: 40px;">
        <div id="content" th:object="${course}">
          <h2 style="text-decoration: none; color: red; text-align: center;"
              th:text="${course.name}"></h2>
          <h4 style="text-decoration: none;color: rgb(7, 7, 115);margin-top: 40px;">I. THÔNG TIN
            CHUNG:</h4>
          <div class="row" style="">
            <div class="col-md-4 d-flex flex-column align-items-center" style="margin-top: 40px;">
              <img alt="" style="width: 80%; padding-top: 10px;padding-bottom: 10px;"
                   th:src="${course.img}">
            </div>
            <div class="col-md-8" style="margin-top: 40px;">
              <ul style="line-height: 3.2;">
                <li>
                  <i class="fas fa-caret-right"></i><span style="font-weight: bold"> TÊN KHÓA HỌC:</span>
                  <span th:text="${course.name}"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i><span style="font-weight: bold"> THỜI LƯỢNG:</span>
                  <span th:text="${course.totalHourStudy} + ' giờ'"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i><span style="font-weight: bold"> ĐỐI TƯỢNG:</span>
                  <span>Học sinh, Sinh viên, Người đi làm có nhu cầu</span>
                </li>

              </ul>
              <div class="bt dang-ki" style="margin-left: 35px;">
                <a href="/register">Đăng ký</a>
              </div>

            </div>

            <h4 style="text-decoration: none;color: rgb(7, 7, 115);margin-top: 20px;margin-bottom: 20px;">
              II. THÔNG TIN CHI TIẾT:
            </h4>
            <div th:utext="${course.content}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>

<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
</body>
</html>