<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light position-sticky d-block" id="header">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="/">
        <img id="avatarWebsite" alt=""
             src="https://res.cloudinary.com/dralhpdiv/image/upload/v1632796806/logo_icon/logo_ACT.png">
      </a>
      <h5 class="clock" id="MyClockDisplay" onload="showTime()" style="margin: 0"></h5>
      <div th:if="${loggedUser == null}">
        <a href="/authentication/login" type="button" class="btn btn-primary"> Đăng nhập </a>
        <a href="/authentication/sign-up" type="button" class="btn btn-danger"> Đăng ký </a>
      </div>
      <div class="dropdown dropstart" th:if="${loggedUser != null}">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <img alt="" id="avatarUser"
               th:src="${loggedUser.avatar}"/>
        </button>
        <ul class="dropdown-menu" th:if="${{loggedUser.role == 'User'}}">
          <li><a class="dropdown-item" href="/user/person-info">Thông tin tài khoản</a></li>
          <li><a class="dropdown-item" href="#">Danh sách lớp học</a></li>
          <li><a class="dropdown-item" href="/authentication/logout">Đăng xuất</a></li>
        </ul>
        <ul class="dropdown-menu" th:if="${{loggedUser.role != 'User'}}">
          <li><a class="dropdown-item" href="/collaborator/statistic/page/1">Vào trang quản trị viên</a></li>
          <li><a class="dropdown-item" href="/authentication/logout">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
    <ul class="navbar-nav me-auto mb-1 mb-lg-0 d-flex justify-content-evenly" id="listItem">
      <li class="nav-item">
        <a class="nav-link" href="/" th:style="${choose == 1} ? 'font-weight: bold'">
          Trang chủ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/introduce-act" th:style="${choose == 2} ? 'font-weight: bold'">
          Giới thiệu
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/list-course/page/1"
           id="navbarDropdown" th:style="${choose == 3} ? 'font-weight: bold'">
          Khóa học
        </a>
        <div class="dropdown-content shadow-sm mb-2 bg-white"
             style="border-top: 2px solid black;">
          <a class="dropdown-item" href="/" th:each="item : ${typeCourses}"
             th:href="@{/list-course/page/1 (typeId = ${item.id})}">
            <i class="far fa-hand-point-right"></i> &nbsp; <span th:text="${item.name}"></span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/list-news/page/1"
           th:style="${choose == 4} ? 'font-weight: bold'">
          Tin tức
        </a>
        <div class="dropdown-content shadow-sm mb-2 bg-white"
             style="border-top: 2px solid black;">
          <a class="dropdown-item" href="/" th:each="item : ${listTypeNews}"
             th:href="@{/list-news/page/1 (typeId = ${item.id})}">
            <i class="far fa-hand-point-right"></i> &nbsp; <span th:text="${item.name}"></span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" th:style="${choose == 5} ? 'font-weight: bold'">
          Đăng ký học
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-class/page/1?state=WAIT"
           th:style="${choose == 6} ? 'font-weight: bold'">
          Danh sách lớp học
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://thuvienso.actvn.edu.vn">Tài liệu</a>
      </li>
      <li>
        <form class="d-flex" id="search" method="get"
              th:action="@{/search/page/1}"
              th:object="${search}">
          <label>
            <input class="form-control" placeholder="Tìm kiếm" id="searchContent"
                   th:field="${search.content}" type="text">
          </label>
          <button class="nav-link" id="menu-search" type="submit">
            <i class="fas fa-search" style="font-size: 13px;float:right;color: black;"></i>
          </button>
        </form>
      </li>
    </ul>
  </nav>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/script/facebook.js"></script>
<script src="/script/clock.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>