<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Trang chủ người dùng</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        referrerpolicy="no-referrer" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        rel="stylesheet"/>
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/home.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="carousel slide" data-bs-ride="carousel" id="carouselInterval"
       style="display: block">
    <div class="carousel-indicators">
      <button aria-current="true" aria-label="Slide 1" class="active btnSlider"
              data-bs-slide-to="0" data-bs-target="#carouselInterval"
              type="button"></button>
      <button aria-label="Slide 2" class="btnSlider" data-bs-slide-to="1"
              data-bs-target="#carouselInterval"
              type="button"></button>
      <button aria-label="Slide 3" class="btnSlider" data-bs-slide-to="2"
              data-bs-target="#carouselInterval"
              type="button"></button>
      <button aria-label="Slide 4" class="btnSlider" data-bs-slide-to="3"
              data-bs-target="#carouselInterval"
              type="button"></button>
      <button aria-label="Slide 5" class="btnSlider" data-bs-slide-to="4"
              data-bs-target="#carouselInterval"
              type="button"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img alt="" class="d-block w-100" th:src="${slider_01}">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img alt="" class="d-block w-100" th:src="${slider_02}"></div>
      <div class="carousel-item" data-bs-interval="5000">
        <img alt="" class="d-block w-100" th:src="${slider_03}"></div>
      <div class="carousel-item" data-bs-interval="5000">
        <img alt="" class="d-block w-100" th:src="${slider_04}"></div>
      <div class="carousel-item" data-bs-interval="5000">
        <img alt="" class="d-block w-100" th:src="${slider_05}"></div>
    </div>
  </div>

  <div style="padding: 0 10rem">
    <div class="act-news">
      <div class="name-act-news">
        <h1><span id="hed">ACT</span> <span id="fot" style="font-weight: 300 !important">news</span>
        </h1>
      </div>
      <div class="container d-flex">
        <div class="row">
          <div class="col-md-3" th:each="item : ${listNews} ">
            <div class="card w-100"
                 style="border: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <img alt="" class="card-img-top" style="height: 190px;" th:src="${item.img}">
              <div class="card-body">
                <a th:href="@{/user/news/{id}(id = ${item.id})}"><h5 class="card-title news-title"
                                                                     th:text="${item.name}"></h5>
                </a>
                <p class="card-text news-text" style="height: 5rem" th:text="${item.desc}"></p>
                <a class="btn btn-primary" th:href="@{/user/news/{id}(id = ${item.id})}">
                  Xem thêm
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="creats-info">
      <div class="row">
        <div class="col-sm-12 col-md-6" style="padding-left: 0">
          <div id="name-creats-info">
            <img
                alt=""
                src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748066/media/icon_home_01.png">
            <span style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif;">Đăng ký học</span>
          </div>
          <div class="card" style="border: none;box-shadow: 0 1px 3px #333;">
            <a class="text-body" href="/register" style="text-decoration: none;">
              <img
                  alt="..."
                  class="card-img-top"
                  src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649747941/media/home_01.jpg">
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6" style="padding-right: 0">
          <div id="name-creats-info">
            <img
                alt=""
                src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748103/media/icon_home_02.png">
            <span
                style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif;">Danh sách lớp hoc</span>
          </div>
          <div class="card" style="border: none;">
            <a class="text-body" href="/list-class/page/1?state=WAIT"
               style="text-decoration: none;box-shadow: 0 1px 3px #333;">
              <img
                  alt="..."
                  class="card-img-top"
                  src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649747946/media/home_02.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <video autoplay loop muted preload style="width: 100%">
        <source
            th:src="${video_banner}"
            type="video/mp4">
      </video>
    </div>
    <div id="act-KH">
      <div class="name-act-KH" style="width: fit-content; padding: 0 1rem;">
        <h1><span id="kh">Khóa học & </span><span id="cn" style="font-weight: 300 !important">Chuyên ngành đào tạo</span>
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6" style="padding-left: 0">
            <div id="programming" style="overflow: hidden">
              <a class="text-body" style="width: 100%"
                 th:href="@{/list-course/page/1 (typeId = 1)}">
                <video autoplay loop muted preload style="width: 100%">
                  <source
                      src="https://res.cloudinary.com/dralhpdiv/video/upload/v1649738316/media/Program.mp4"
                      type="video/mp4">
                </video>
              </a>
            </div>
          </div>

          <div class="col-sm-12 col-md-6" style="padding-right: 0">
            <div id="network" style="overflow: hidden">
              <a class="text-body" style="width: 100%"
                 th:href="@{/list-course/page/1 (typeId = 2)}">
                <video autoplay loop muted preload style="width: 100%">
                  <source
                      src="https://res.cloudinary.com/dralhpdiv/video/upload/v1649738316/media/Network.mp4"
                      type="video/mp4">
                </video>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="act-KH">
      <div class="name-act-KH" style="width: fit-content; padding: 0 1rem;">
        <h1><span id="kh">Học viên </span>
          <span id="cn" style="font-weight: 300 !important"> tiêu biểu</span>
        </h1>
      </div>
      <div class="container">
        <div id="feedback">
          <div class="feedbackContent owl-carousel owl-theme">
            <div class="cardFeedback"
                 th:each="item : ${topUsers}"
                 th:data-parameter1="${item.feedback}"
                 th:data-parameter2="${item.name}"
                 th:data-parameter3="${item.avatar}"
                 onclick="onClickFeedback(
                         this.getAttribute('data-parameter1'),
                         this.getAttribute('data-parameter2'),
                         this.getAttribute('data-parameter3'))">
              <img alt="" th:src="${item.avatar}"
                   class="cardFeedback-img-top"
                   style="width: fit-content; margin: auto">
              <div class="cardFeedback-body">
                <h5 class="cardFeedback-title" th:text="${item.name}"></h5>
                <small class="cardFeedback-small" th:text="${item.job}"></small>
                <br>
                <small class="cardFeedback-small" th:text="${item.workplace}"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin: 2rem auto;width: 90%;">
      <div class="title_block">
        <img
            alt=""
            src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748252/media/icon_home_05.png">
        <span class="first">ACT </span>
        <span class="last">& đối tác</span>
      </div>
      <div class="co_worker owl-carousel owl-theme">
        <div class="item">
          <img alt="Cinque Terre"
               class="img-circle"
               src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748333/media/company_01.gif">
        </div>
        <div class="item">
          <img alt="Cinque Terre"
               class="img-circle"
               src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748333/media/company_02.png">
        </div>
        <div class="item">
          <img alt="Cinque Terre"
               class="img-circle"
               src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748333/media/company_03.png">
        </div>
        <div class="item">
          <img alt="Cinque Terre"
               class="img-circle"
               src="https://res.cloudinary.com/dralhpdiv/image/upload/v1649748332/media/company_04.png">
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/guest/footer.html :: footer"></div>
</div>
<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js">
</script>
<script crossorigin="anonymous"
        integrity="sha512-d7LE0c4A2QP4HrJwFiOxwQz/W1o/KTnQol92uYuXVwH7TKNFT8Gqntd2pQEcGCMMQqDobHSlG7uZL0hyHgmc9Q=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/cuttr/1.1.2/cuttr.min.js">
</script>
<script>
  new Cuttr('.news-title', {
    truncate: 'characters',
    length: 23
  });

  new Cuttr('.news-text', {
    truncate: 'characters',
    length: 88
  });

  new Cuttr('.job-title', {
    truncate: 'characters',
    length: 35
  });

  new Cuttr('.job-text', {
    truncate: 'characters',
    length: 126
  });

  $(document).ready(function () {
    $('.co_worker').owlCarousel({
      items: 4,
      loop: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        1000: {
          items: 4,
        }
      }
    });

    $('.feedbackContent').owlCarousel({
      rtl: true,
      items: 4,
      loop: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        1000: {
          items: 4,
        }
      }
    });
  });

  function onClickFeedback(feedback, name, urlImg) {
    Swal.fire({
      title: name,
      text: feedback,
      imageUrl: urlImg,
      imageAlt: 'Custom image',
      showConfirmButton: false,
      showClass: {
        popup: 'animate__animated animate__fadeInDown'
      },
      hideClass: {
        popup: 'animate__animated animate__fadeOutUp'
      }
    })
  }
</script>
</body>

</html>