<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Giới thiệu</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/introduce-academy.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop preload style="width: 100%">
      <source th:src="${video_banner}" type="video/mp4">
    </video>
  </div>

  <div class="container" id="wp-content">
    <div class="row">
      <div class="col-md-3">
        <div class="box-menu" id="sideBarMenu">
          <div class="dmtt">
            <a aria-controls="collapseExample" aria-expanded="false" class="d-flex"
               data-toggle="collapse" href="#collapseExample">
              <span>Giới thiệu</span>
              <div style="margin-right: 20px;"><i class="fas fa-chevron-down"></i></div>
            </a>
          </div>
          <div class="collapse show" id="collapseExample">
            <ul class="GT" th:each="i : ${listIntroduce}">
              <li>
                <a th:text="${i.name}" type="button" th:onclick="'showContent('+ ${i.id} + ')'"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="content" id="defaultContent" style="display:block;" th:utext="${defaultContent}">
        </div>
        <div class="content" th:each="i : ${listIntroduce}" th:id="${i.id}" th:utext="${i.content}">
        </div>
      </div>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>
<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script>
  function showContent(id) {
    // Ẩn tất cả các div
    let divs = document.getElementsByClassName('content');
    for (let i = 0; i < divs.length; i++) {
      divs[i].style.display = 'none';
    }

    // Ẩn div default
    let defaultContent = document.getElementById('defaultContent');
    defaultContent.style.display = 'none';

    // Hiển thị div tương ứng với button được nhấn
    let content = document.getElementById(id);
    content.style.display = 'block';
  }
</script>
</body>
</html>