<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Danh sách lớp học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        referrerpolicy="no-referrer" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        rel="stylesheet"/>
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/list-classpage.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop preload style="width: 100%">
      <source th:src="${video_banner}" type="video/mp4">
    </video>
  </div>

  <div class="container" id="wp-content">
    <div class="row">
      <div class="col-md-3">
        <div class="box-menu"
             style="border-top-left-radius: 20px;border-bottom-right-radius: 20px;">
          <div class="dmtt">
            <a aria-controls="collapseExample" aria-expanded="false" class="d-flex"
               data-toggle="collapse" href="#collapseExample">
              <span>Danh mục</span>
              <div style="margin-right: 20px;"><i class="fas fa-chevron-down"></i></div>
            </a>
          </div>
          <div class="collapse show" id="collapseExample">
            <ul class="GT">
              <li><a href="/list-class/page/1?state=WAIT"
                     th:style="${search.state == 'WAIT'} ? 'color: black'">Sắp khai giảng</a></li>
              <li><a href="/list-class/page/1?state=DOING"
                     th:style="${search.state == 'DOING'} ? 'color: black'">Danh sách lớp online</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="container KhoiUuDai" th:each="item : ${classes}">
          <div class="row">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center"
                 style="padding-bottom: 1rem">
              <a class="d-flex justify-content-center"
                 th:href="@{/course/{id}(id = ${item.courseId})}">
                <img alt="" style="width: 80%;" th:src="${item.avatar}"></a>
              <br>
              <div class="d-flex justify-content-around" style="width: 80%;">
                <a class="btn btn-primary" th:href="@{/register (classId = ${item.id})}"
                   type="button">
                  Đăng ký
                </a>
                <a class="btn btn-secondary" type="button"
                   th:data-parameter1="${item.trialLessonName}"
                   th:data-parameter2="${item.trialLessonUrl}"
                   onclick="onClickTrialLesson(
                           this.getAttribute('data-parameter1'),
                           this.getAttribute('data-parameter2'))"
                   th:if="${item.howToLearn == 'Online'
                            and item.trialLessonUrl != null
                            and item.trialLessonUrl.trim() != ''}">
                  Học thử
                </a>
              </div>
            </div>
            <div class="col-md-8 textThongTin d-flex flex-column justify-content-center">
              <a th:href="@{/course/{id}(id = ${item.courseId})}"><h5
                  style="margin-bottom: 10px; font-weight: bold"
                  th:text="${item.fullName}"></h5>
              </a>
              <ul>
                <li>
                  <i class="fas fa-caret-right"></i> Mã lớp:
                  <span th:text="${item.name}"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i> Khóa học:
                  <span th:text="${item.course}"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i> Giảng viên:
                  <span th:text="${item.teacher}"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i> Hình thức học:
                  <span th:text="${item.howToLearn}"></span>
                </li>
                <li>
                  <i class="fas fa-caret-right"></i> Thời gian khai giảng:
                  <span th:text="${item.dateOpening}"></span>
                </li>
                <li th:if="${item.special} != null and ${item.special} != ''">
                  <i class="fas fa-caret-right"></i> Ưu đãi:
                  <span style="color: black" th:utext="${item.special}"></span>
                </li>
              </ul>
            </div>
            <div class="collapse UuDai" id="UuDai1">
              <h5 style="color: #1877f2 ;margin-top: 20px;">Ưu Đãi Khi Đăng Kí Khóa Học</h5>
              <div th:utext="${item.special}"></div>
            </div>
          </div>
        </div>

        <nav aria-label="Page navigation example" id="page-menu" th:if="${page} > 1">
          <ul class="pagination" style="justify-content: center">
            <li class="page-item">
              <a class="page-link" onclick="checkBehind()"
                 th:href="@{/list-class/page/{pageId} (pageId = ${pageId - 1}, state = ${search.state})}"
                 type="button"><i
                  class="fas fa-chevron-left"></i></a>
            </li>
            <li class="page-item" th:each="item : ${stt}"
                th:style="${pageId == item} ? 'font-weight: bold'">
              <a class="page-link"
                 th:href="@{/list-class/page/{pageId} (pageId = ${item}, state = ${search.state})}"
                 th:text="${item}"></a>
            </li>
            <li class="page-item">
              <a class="page-link" onclick="checkForward()"
                 th:href="@{/list-class/page/{pageId} (pageId = ${pageId + 1}, state = ${search.state})}"
                 type="button"><i
                  class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>

<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  var page = [[${page}]];
  var pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }

  function onClickTrialLesson(name, url) {
    Swal.fire({
      title: 'Bài giảng học thử: \n' + name,
      width: 1400,
      html:
          '<iframe allowfullscreen width="1200" height="600" allow="autoplay" src="' + url + '"></iframe>',
      showConfirmButton: false,
      showClass: {
        popup: 'animate__animated animate__fadeInDown'
      },
      hideClass: {
        popup: 'animate__animated animate__fadeOutUp'
      }
    })
  }
</script>
</body>
</html>