<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Danh sách tin tức</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/list-news.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop muted preload style="width: 100%">
      <source
          th:src="${video_banner}"
          type="video/mp4">
    </video>
  </div>

  <div class="container" id="wp-content">
    <div class="row">
      <div class="col-md-3">
        <div class="box-menu"
             style="border-top-left-radius: 20px;border-bottom-right-radius: 20px;">
          <div class="dmtt">
            <a aria-controls="collapseExample" aria-expanded="false" class="d-flex"
               data-toggle="collapse" href="#collapseExample">
              <span>Danh mục</span>
              <div style="margin-right: 20px;"><i class="fas fa-chevron-down"></i></div>
            </a>
          </div>
          <div class="collapse show" id="collapseExample">
            <ul class="GT">
              <li>
                <a href="/list-news/page/1"
                   th:style="${search.typeId == null or search.typeId == 0} ? 'color: black'">
                  Tất cả
                </a>
              </li>
              <li  th:each="item : ${listTypeNews}">
                <a th:text="${item.name}"
                   th:href="@{/list-news/page/1 (typeId = ${item.id})}"
                   th:style="${search.typeId == item.id} ? 'color: black'">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div id="content">
          <ul class="list-item">
            <li th:each="item : ${listNews}">
              <div class="row">
                <div class="col-md-4">
                  <a th:href="@{/news/{id}(id = ${item.id})}"><img alt="" th:src="${item.img}"></a>
                </div>
                <div class="col-md-8">
                  <div class="box">
                    <a th:href="@{/news/{id}(id = ${item.id})}">
                      <h6 style="text-align: justify" th:text="${item.name}"></h6>
                    </a>
                    <div class="date">
                      <a th:href="@{/news/{id}(id = ${item.id})}">
                        <p th:text="${item.createdDate}"></p>
                      </a>
                    </div>
                    <p th:text="${item.desc}"></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <nav aria-label="Page navigation example" id="page-menu" th:if="${page} > 1">
            <ul class="pagination" style="justify-content: center">
              <li class="page-item">
                <a class="page-link" onclick="checkBehind()"
                   th:href="@{/list-news/page/{pageId} (pageId = ${pageId - 1}, typeId = ${search.typeId})}"
                   type="button"><i
                    class="fas fa-chevron-left"></i></a>
              </li>
              <li class="page-item" th:each="item : ${stt}"
                  th:style="${pageId == item} ? 'font-weight: bold'">
                <a class="page-link"
                   th:href="@{/list-news/page/{pageId} (pageId = ${item}, typeId = ${search.typeId})}"
                   th:text="${item}"></a>
              </li>
              <li class="page-item">
                <a class="page-link" onclick="checkForward()"
                   th:href="@{/list-news/page/{pageId} (pageId = ${pageId + 1}, typeId = ${search.typeId})}"
                   type="button"><i
                    class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>
<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  var page = [[${page}]];
  var pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>

</html>