<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Đăng ký học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/register.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop preload style="width: 100%">
      <source th:src="${video_banner}" type="video/mp4">
    </video>
  </div>

  <div id="dangkihoc">
    <div class="container">
      <div style="height: 41px;">
        <h1>Đăng ký học</h1>
      </div>
      <hr style="border: 1px solid black">
      <p style="text-align: justify">
        Học viện Công nghệ thông tin ACT trực thuộc sự quản lý của khoa An toàn thông tin Học viện
        Kỹ thuật Mât mã, là chương trình hợp tác đào tạo với đối tác nước ngoài như Cisco Systems,
        Microsoft (Hoa
        kỳ), Oracle, Palo Alto, đào tạo về Quản trị mạng, Quản trị hệ thống, Bảo mật và Lập trình
        theo phương thức đào tạo thực hành nhằm đáp ứng nhu cầu
        ngày càng tăng trong việc đào tạo và cung cấp nhân lực có trình độ chuyên môn đạt chuẩn Quốc
        tế.
      </p>

      <form id="formRegistedCourse" method="post" th:action="@{/register}" th:object="${register}">

        <p style="font-size: 18px; color: red"> - Các mục có dấu (*) là bắt buộc </p>
        <p style="font-size: 18px; color: red"> - Nếu email của bạn đã đăng ký tài khoản, hệ thống sẽ mặc định lấy thông tin theo tài khoản đó</p>

        <div th:if="${register.classId == null or register.getClassId() == 0}">
          <h2 style="margin-top: 10px"> Khóa học đăng kí </h2>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Tên khóa học (*) </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01" th:field="${register.courseId}">
                  <option th:value="0">Khóa học</option>
                  <option th:each="i : ${fullCourse}" th:text="${i.name}" th:value="${i.id}"></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Hình thức học (*) </label>
            </div>
            <div class="col-md-6" style="padding-left: 1rem">
              <div class="input-group">
                <input aria-label="Radio button for following text input" id="radOffline"
                       type="radio" style="margin-top: 5px;margin-right: 10px;"
                       th:field="${register.howToLearn}"
                       th:value="Offline"/>
                <label style="margin-right: 30px;margin-top: 5px;">Offline</label>
                <input aria-label="Radio button for following text input" id="radOnline"
                       type="radio" style="margin-top: 5px;margin-right: 10px;"
                       th:field="${register.howToLearn}"
                       th:value="Online"/>
                <label style="margin-top: 5px;">Online</label>
              </div>
              <div class="invalidValue" id="invalidHowToLearn">Xin hãy lựa chọn hình thức học</div>
            </div>
          </div>
        </div>

        <input style="display: none" class="form-control" type="text" th:field="*{classId}"/>

        <h2>Thông tin học viên</h2>

        <div th:object="${register.student}">
          <div class="row">
            <div class="col-md-3">
              <label class="labelInput">Họ và Tên (*)</label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label for="txtName"></label>
                <input class="form-control" id="txtName" type="text"
                       placeholder="Nguyễn Văn A" th:field="*{name}"/>
              </div>
              <div class="invalidValue" id="invalidName">
                Họ và tên là một chuỗi kí tự không bao gồm số và các kí tự đặc biệt
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Giới tính (*) </label>
            </div>
            <div class="col-md-6" style="padding-left: 1rem">
              <div class="input-group">
                <input aria-label="Radio button for following text input" id="radMale"
                       type="radio" style="margin-top: 5px;margin-right: 10px;"
                       th:field="*{gender}" th:value="Male"/>
                <label style="margin-right: 30px;margin-top: 5px;">Nam</label>
                <input aria-label="Radio button for following text input" id="radFemale"
                       type="radio" style="margin-top: 5px;margin-right: 10px;"
                       th:field="*{gender}" th:value="Female"/>
                <label style="margin-top: 5px;">Nữ</label>
              </div>
              <div class="invalidValue" id="invalidSex">Xin hãy lựa chọn giới tính</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Ngày sinh (*) </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label for="txtDob"></label>
                <input class="form-control" id="txtDob" th:field="*{dob}" type="date"/>
              </div>
              <div class="invalidValue" id="invalidDob">
                Ngày sinh không được để trống và vượt quá mốc thời gian hiện tại
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Số điện thoại (*) </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label for="txtPhone"></label>
                <input class="form-control" id="txtPhone" type="tel"
                       placeholder="0964952889" th:field="*{phone}"/>
              </div>
              <div class="invalidValue" id="invalidPhone">
                Số điện thoại là một dãy 10 số, có đầu số hợp lệ, không có chữ và kí tự đặc biệt
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Email (*) </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label for="txtEmail"></label>
                <input class="form-control" id="txtEmail" type="text"
                       placeholder="nguyenvana@gmail.com" th:field="*{email}"/>
              </div>
              <div class="invalidValue" id="invalidEmail">
                Email là một dãy kí tự và phải có đuôi của email
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Địa chỉ </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label style="width: 100%">
                  <input class="form-control" placeholder="Hà Nội" th:field="*{address}"
                         type="text"/>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Công việc hiện tại của bạn là ? </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label style="width: 100%">
                  <input class="form-control" placeholder="Sinh viên" th:field="*{job}"
                         type="text"/>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="labelInput"> Nơi học tập (làm việc) </label>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <label style="width: 100%">
                  <input class="form-control" placeholder="Học viện Kỹ thuật Mật mã"
                         th:field="*{workplace}"
                         type="text"/>
                </label>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md">
            <div class="bt" id="dang-ki">
              <button onclick="submitForm()" type="submit"> Đăng ký</button>
            </div>
          </div>
          <div class="col-md">
            <div class="bt" id="nhap-lai">
              <button type="reset">Nhập lại</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>

<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script th:inline="javascript">
  const reText = /^[^0-9_!¡?÷?¿\/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$/;
  const reEmail = /^[^\s@]+@[^\s@]+$/;
  const rePhone = /(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})\b/;
  const state = [[${state}]];
  const notification = [[${notification}]];

  function isEmpty(string) {
    return string === "";
  }

  function isValid(re, string) {
    return re.test(string);
  }

  if (state === 'success') {
    Swal.fire({
      icon: 'success',
      title: 'Chúc mừng',
      html: '<p style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif">Bạn đã đăng kí học thành công !</p>'
          + '<span style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif">' + notification + '</span>',
      showConfirmButton: false,
      showCloseButton: true
    });
  } else if (state === 'fail') {
    Swal.fire({
      icon: 'error',
      title: 'Thất bại',
      html: '<p style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif">Đăng ký học thất bại !</p>'
          + '<span style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif">' + notification + '</span>',
      showConfirmButton: false,
      showCloseButton: true
    });
  }

  $("#txtName").focusout(function () {
    if (isEmpty($("#txtName").val()) || !isValid(reText, $("#txtName").val())) {
      $("#invalidName").css("display", "block")
    } else {
      $("#invalidName").css("display", "none")
    }
  });

  $("#txtDob").focusout(function () {
    var now = new Date();
    var date = new Date($("#txtDob").val());
    if (isEmpty($("#txtDob").val()) || date > now) {
      $("#invalidDob").css("display", "block")
    } else {
      $("#invalidDob").css("display", "none")
    }
  });

  $("#txtPhone").focusout(function () {
    if (isEmpty($("#txtPhone").val()) || !isValid(rePhone, $("#txtPhone").val())) {
      $("#invalidPhone").css("display", "block")
    } else {
      $("#invalidPhone").css("display", "none")
    }
  });

  $("#txtEmail").focusout(function () {
    if (isEmpty($("#txtEmail").val()) || !isValid(reEmail, $("#txtEmail").val())) {
      $("#invalidEmail").css("display", "block")
    } else {
      $("#invalidEmail").css("display", "none")
    }
  });

  function submitForm() {
    var error = false
    var now = new Date();
    var date = new Date($("#txtDob").val());

    if (isEmpty($("#txtName").val()) || !isValid(reText, $("#txtName").val())) {
      error = true;
      $("#invalidName").css("display", "block")
    }

    if (!document.getElementById("radMale").checked) {
      if (!document.getElementById("radFemale").checked) {
        error = true;
        $("#invalidSex").css("display", "block")
      } else {
        $("#invalidSex").css("display", "none")
      }
    } else {
      $("#invalidSex").css("display", "none")
    }

    if (isEmpty($("#txtDob").val()) || date > now) {
      error = true;
      $("#invalidDob").css("display", "block")
    } else {
      $("#invalidDob").css("display", "none")
    }

    if (isEmpty($("#txtPhone").val()) || !isValid(rePhone, $("#txtPhone").val())) {
      error = true;
      $("#invalidPhone").css("display", "block")
    }

    if (isEmpty($("#txtEmail").val()) || !isValid(reEmail, $("#txtEmail").val())) {
      error = true;
      $("#invalidEmail").css("display", "block")
    }

    if (error) {
      event.preventDefault();
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Thông tin bạn nhập không hợp lệ !',
        showConfirmButton: false,
      });
    } else if ($("#inputGroupSelect01").val() == 0) {
      event.preventDefault();
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Bạn chưa chọn khóa học bạn muốn rồi !',
        showConfirmButton: false,
        showCloseButton: true
      });
    }
  }
</script>
</body>

</html>