<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tìm kiếm</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/guest/search.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/header.css" rel="stylesheet" type="text/css">
  <link href="/static/guest/footer.css" rel="stylesheet" type="text/css">
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <div th:replace="/guest/header.html :: header"></div>

  <div class="text-center">
    <video autoplay loop preload style="width: 100%">
      <source th:src="${video_banner}" type="video/mp4">
    </video>
  </div>

  <div class="container" id="wp-content">
    <div class="d-flex justify-content-between" id="header">
      <h5 style="color: #006182">
        Tìm thấy <span style="color: red" th:text="${numberResult}"></span>
        kết quả với từ khóa: <span style="color: red" th:text="${key}"></span></h5>
      <label for="typeOfSearch"></label>
      <select id="typeOfSearch"  style="border: none; outline: none; padding: 0 1rem">
      <option th:selected="${search.type != 'news'}" value="course">Khóa học</option>
      <option th:selected="${search.type == 'news'}" value="news">Tin tức</option>
    </select>
    </div>
    <hr>
    <div id="content">
      <div style="display: flex; flex-wrap: wrap">
        <div class="listCourses"
             style="width: 23%; border: none; border-radius: 1rem; margin: 0.65rem 0.65rem 1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
             th:each="item : ${courses}" th:if="${search.type != 'news'}">
          <img alt="" class="card-img-top"
               style="padding: 1.5rem; height: 150px; object-fit: contain" th:src="${item.img}">
          <div class="card-body">
            <a th:href="@{/course/{id}(id = ${item.id})}">
              <h5 class="card-title" th:text="${item.name}"></h5></a>
            <p class="card-text" style="height: 5rem" th:text="${item.desc}"></p>
            <a class="btn btn-primary" th:href="@{/course/{id}(id = ${item.id})}">Xem thêm</a>
          </div>
        </div>
        <div class="listNews"
             style="width: 23%; border: none; border-radius: 1rem; margin: 0.65rem 0.65rem 1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
             th:each="item : ${listNews}" th:if="${search.type == 'news'}">
          <img alt=""
               class="card-img-top"
               style="height: 150px; border-top-left-radius: 1rem; border-top-right-radius: 1rem"
               th:src="${item.img}">
          <div class="card-body">
            <a th:href="@{/news/{id}(id = ${item.id})}">
              <h5 class="card-title" th:text="${item.name}"></h5></a>
            <p class="card-text" style="height: 5rem" th:text="${item.desc}"></p>
            <a class="btn btn-primary" th:href="@{/news/{id}(id = ${item.id})}">Xem thêm</a>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation example" id="page-menu"
           style="display: flex; justify-content: center" th:if="${page} > 1">
        <ul class="pagination" style="justify-content: center">
          <li class="page-item">
            <a class="page-link" onclick="checkBehind()"
               th:href="@{/search/page/{id}(type = ${search.type}, id = ${pageId - 1}, content = ${search.content})}"
               type="button"><i
                class="fas fa-chevron-left"></i></a>
          </li>
          <li class="page-item" th:each="item : ${stt}"
              th:style="${pageId == item} ? 'font-weight: bold'">
            <a class="page-link"
               th:href="@{/search/page/{id}(type = ${search.type}, id = ${item}, content = ${search.content})}"
               th:text="${item}"></a>
          </li>
          <li class="page-item">
            <a class="page-link" onclick="checkForward()"
               th:href="@{/search/page/{id}(type = ${search.type}, id = ${pageId + 1}, content = ${search.content})}"
               type="button"><i
                class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div th:replace="/guest/footer.html :: footer"></div>
</div>

<script src="/script/clock.js"></script>
<script src="/script/facebook.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"></script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha512-d7LE0c4A2QP4HrJwFiOxwQz/W1o/KTnQol92uYuXVwH7TKNFT8Gqntd2pQEcGCMMQqDobHSlG7uZL0hyHgmc9Q=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/cuttr/1.1.2/cuttr.min.js">
</script>
<script th:inline="javascript">

  const key = [[${key}]];

  $('select').on('change', function () {
    if (this.value === 'course') {
      window.location = '/search/page/1?type=course&content=' + key;
    } else if (this.value === 'news') {
      window.location = '/search/page/1?type=news&content=' + key;
    }
  });

  new Cuttr('.card-title', {
    truncate: 'characters',
    length: 20
  });

  new Cuttr('.card-text', {
    truncate: 'characters',
    length: 70
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>

</html>