<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin lớp học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/user/class-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/user/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="classInfo" th:object="${class}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md d-flex justify-content-center align-items-center">
          <h5 id="titleClass">Thông tin lớp học</h5>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i>&nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg" th:src="${class.avatar}"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Tên đầy đủ</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.fullName}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Mã lớp</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Khóa học</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${class.course}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Hình thức
                học</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.howToLearn}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Giảng viên</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.teacher}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Quản lý lớp</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.manager}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Email quản
                lý</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.managerEmail}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Trợ giảng</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.supporter}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Email trợ
                giảng</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.supporterEmail}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">
                Ngày khai giảng
              </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.dateOpening}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold">Trạng thái</label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${class.state}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Người tạo </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.createdBy}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-weight: bold"> Ngày tạo </label>
              <div class="col-sm-8 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${class.createdDate}"></p>
              </div>
            </div>
            <div class="row" th:if="${class.special != null && class.special.trim() != ''}">
              <label class="col-form-label" style="font-weight: bold">Ưu đãi</label>
              <div>
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:utext="${class.special}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="videoLectures" th:if="${class.howToLearn == 'Online' && videoLectures != null}">
        <hr>
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <h5 style="font-weight: bold; margin-bottom: 0">
              <i class="fas fa-photo-video"></i> &nbsp; Danh sách bài giảng:
            </h5>
          </div>
          <form class="col-md-4" method="get"
                style="display:flex; flex-direction: column; justify-content: center"
                th:action="@{/user/class/{id}/video/page/1 (id = ${class.id})}"
                th:object="${search}">
            <div style="display:flex;">
              <div class="input-group input-group-sm mb-3"
                   style="margin-bottom: 0!important">
                <input class="form-control" placeholder="Tìm theo tên video bài giảng"
                       style="padding-left: 10px" th:field="${search.name}" type="text">
                <button class="input-group-text" id="inputGroup-sizing-sm" type="submit">
                  <i aria-hidden="true" class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div>
          <hr>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên bài giảng</th>
              <th scope="col">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each='item, state : ${videoLectures}'>
              <th scope="row">
                <a class="info" th:text="${pageId - 1} * ${size} + ${state.index + 1}"
                   th:href="@{/user/class/{classId}/video-lecture/{id} (classId = ${class.id}, id = ${item.id})}">
                </a>
              </th>
              <td>
                <a class="info" th:text="${item.name}"
                   th:href="@{/user/class/{classId}/video-lecture/{id} (classId = ${class.id}, id = ${item.id})}">
                </a>
              </td>
              <td>
                <a class="info" th:text="${item.state}"
                   th:href="@{/user/class/{classId}/video-lecture/{id} (classId = ${class.id}, id = ${item.id})}">
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="d-flex justify-content-center"
               th:if="${page} > 1">
            <ul class="pagination">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                   th:href="@{/user/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${pageId - 1}, name = ${search.name})}">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" th:each="item : ${stt}"
                  th:style="${pageId == item} ? 'font-weight: bold'">
                <a class="page-link"
                   th:href="@{/user/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${item}, name = ${search.name})}"
                   th:text="${item}"></a>
              </li>
              <li class="page-item">
                <a aria-label="Next" class="page-link" onclick="checkForward()"
                   th:href="@{/user/class/{id}/video/page/{pageId}(id = ${class.id}, pageId = ${pageId + 1}, name = ${search.name})}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="caption">
            <i class="far fa-hand-point-up"></i> - Bấm vào từng bài giảng để học
          </div>
        </div>
      </div>
    </div>
    <div th:replace="/user/footer.html :: #footer"></div>
  </div>

  <div th:replace="notification :: notification"></div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
