<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý lớp học</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/user/list-class.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/user/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="tableClasses">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <h5 id="titleTable">Danh sách lớp học</h5>
        </div>
        <form class="col-md-6" method="get"
              style="display:flex; flex-direction: column; justify-content: center"
              th:action="@{/user/list-class/page/1}" th:object="${search}">
          <div style="display:flex;">
            <select class="form-select" id="inputGroupSelect01"
                    style="width: fit-content" th:field="${search.state}">
              <option th:selected="${search.state == null}" th:value="null">
                Trạng thái
              </option>
              <option th:selected="${search.state == 'WAIT'}" th:value="WAIT">
                Sắp khai giảng
              </option>
              <option th:selected="${search.state == 'DOING'}" th:value="DOING">
                Đang diễn ra
              </option>
              <option th:selected="${search.state == 'FINISHED'}" th:value="FINISHED">
                Đã kết thúc
              </option>
            </select>
            <div class="input-group input-group-sm mb-3"
                 style="margin-bottom: 0!important">
              <input class="form-control"
                     placeholder="Tìm theo tên lớp, quản lý, trợ giảng"
                     style="padding-left: 10px" th:field="${search.content}" type="text">
              <button class="input-group-text" id="inputGroup-sizing-sm" type="submit">
                <i aria-hidden="true" class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div>
        <table class="table">
          <thead>
          <tr>
            <th class="col">STT</th>
            <th class="col">Mã lớp</th>
            <th class="col-2">Giảng viên</th>
            <th class="col-2">Trợ giảng</th>
            <th class="col-2">Quản lý</th>
            <th class="col">Trạng thái</th>
            <th class="col">Ngày khai giảng</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each='item,state : ${classes}'>
            <th scope="row">
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${pageId - 1} * ${size} + ${state.index  + 1}"></a>
            </th>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.name}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.teacher}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.supporter}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.manager}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.state}"></a>
            </td>
            <td>
              <a class="info" th:href="@{/user/class/{id}/video/page/1 (id = ${item.id})}"
                 th:text="${item.dateOpening}"></a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center"
             th:if="${page} > 1">
          <ul class="pagination">
            <li class="page-item">
              <a aria-label="Previous" class="page-link" onclick="checkBehind()"
                 th:href="@{/user/list-class/page/{pageId}(pageId = ${pageId - 1}, state = ${search.state}, content = ${search.content})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:each="item : ${stt}"
                th:style="${pageId == item} ? 'font-weight: bold'">
              <a class="page-link"
                 th:href="@{/user/list-class/page/{pageId}(pageId = ${item}, state = ${search.state}, content = ${search.content})}"
                 th:text="${item}"></a>
            </li>
            <li class="page-item">
              <a aria-label="Next" class="page-link" onclick="checkForward()"
                 th:href="@{/user/list-class/page/{pageId}(pageId = ${pageId + 1}, state = ${search.state}, content = ${search.content})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="caption">
          <i class="far fa-hand-point-up"></i> - Bấm vào từng lớp học để xem chi tiết thông tin
        </div>
      </div>
    </div>

    <div th:replace="/user/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
