<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin cộng tác viên</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/admin/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/admin-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/user/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="userCheckInfo" th:object="${manager}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
          <h5 id="titleUserCheck">Thông tin quản lý trung tâm </h5>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i>&nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg" th:src="${manager.avatar}"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Họ và tên </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${manager.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Giới tính </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${manager.gender}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Số điện thoại
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${manager.phone}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Email </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${manager.email}"></p>
              </div>
            </div>
            <div class="row" th:if="${manager.address != null && manager.address.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Địa chỉ </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${manager.address}"></p>
              </div>
            </div>
            <div class="row" th:if="${manager.job != null && manager.job.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Công việc </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${manager.job}"></p>
              </div>
            </div>
            <div class="row"
                 th:if="${manager.workplace != null && manager.workplace.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Nơi học tập (làm việc)
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${manager.workplace}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="/user/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
</body>
</html>
