<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thông tin tài khoản</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link
      href="https://res.cloudinary.com/dvr6dfixz/image/upload/v1684582092/media-component/favicon.png"
      rel="shortcut icon"
      type="image/png"/>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link href="/static/user/sidebar-menu.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/person-info.css" rel="stylesheet" type="text/css"/>
  <link href="/static/user/footer.css" rel="stylesheet" type="text/css"/>
  <link href="/static/notification.css" rel="stylesheet" type="text/css"/>
  <link href="/static/scrollbar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="d-flex" id="container">
  <div th:replace="/user/sidebar-menu.html :: sidebarMenu"></div>

  <div class="flex-md-fill" id="content">
    <div id="userCheckInfo" th:object="${user}">
      <div class="row" style="margin-bottom: 18px">
        <div class="col-md-8 d-flex justify-content-center align-items-center">
          <h5 id="titleUserCheck"> Thông tin tài khoản </h5>
        </div>
        <div class="col-md-4" style="text-align: center">
          <a class="btn btn-warning"
             th:href="@{/user/update}"
             type="button"> Chỉnh sửa </a>
          <a class="btn btn-primary"
             th:href="@{/authentication/change-password}"
             type="button"> Đổi mật khẩu </a>
        </div>
      </div>
      <div id="generalInformation">
        <hr>
        <h5 style="font-weight: bold">
          <i aria-hidden="true" class="fas fa-pencil-alt"></i>&nbsp; Thông tin chung:
        </h5>
        <hr>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center align-items-center"
               style="object-fit: cover">
            <img alt="" id="courseImg" th:src="${user.avatar}"/>
          </div>
          <div class="col-md-6">
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Họ và tên </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.name}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Giới tính </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.gender}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Ngày sinh </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.dob}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Số điện thoại
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.phone}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Email </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0"
                   th:text="${user.email}"></p>
              </div>
            </div>
            <div class="row" th:if="${user.address != null && user.address.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Địa chỉ </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${user.address}"></p>
              </div>
            </div>
            <div class="row" th:if="${user.job != null && user.job.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Công việc </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${user.job}"></p>
              </div>
            </div>
            <div class="row" th:if="${user.workplace != null && user.workplace.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold">
                Nơi học tập (làm việc)
              </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0; text-align: justify; padding-right: 2rem"
                   th:text="${user.workplace}"></p>
              </div>
            </div>
            <div class="row" th:if="${user.createdBy != null && user.createdBy.trim() != ''}">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Người tạo </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.createdBy}"></p>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 col-form-label" style="font-weight: bold"> Ngày tạo </label>
              <div class="col-sm-7 d-flex flex-column justify-content-center">
                <p style="margin: 0" th:text="${user.createdDate}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="/user/footer.html :: #footer"></div>

    <div th:replace="notification :: notification"></div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script async crossorigin="anonymous" defer nonce="QeM3LVxY"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js">
</script>
<script th:inline="javascript">
  $("#notification").click(function () {
    $("#notification").hide();
  });

  const page = [[${page}]];
  const pageId = [[${pageId}]];

  function checkForward() {
    if (pageId + 1 > page) {
      event.preventDefault();
    }
  }

  function checkBehind() {
    if (pageId - 1 <= 0) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
