/*container*/
#container {
  margin: 0 auto;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;;
  font-size: 16px;
}


#content {
  padding-left: 16.7rem;
}

/*classInfo*/
#userCheckInfo {
  height: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  box-sizing: inherit;
  margin: 0.9375rem 0.9375rem 0.625rem;
  padding: 0.9375rem 1.25rem;
  line-height: 1.6em;
}

#titleUserCheck {
  margin-bottom: 0;
  padding: 5px;
  font-weight: bold;
  border: 3px solid black
}

#userCheckImg {
  width: 50%;
  object-fit: contain;
}

.table {
  margin-top: 20px;
}

.table tbody a {
  color: black;
  text-decoration: none;
}

.table tbody tr:hover .info {
  color: #0d6efd;
}

.page-link {
  color: black;
  text-decoration: none;
}

.caption {
  font-size: 16px;
  color: #6c757d;
  display: block;
  width: 100%;
  padding: .5rem 0;
}