/*container*/
#container {
  margin: 0 auto;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

#content {
  padding-left: 16.7rem;
}

/*courseInfo*/
#inputCourse {
  height: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  box-sizing: inherit;
  margin: 0.9375rem 0.9375rem 0.625rem;
  padding: 0.9375rem 1.25rem;
  line-height: 1.6rem;
  border-radius: 5px;
}

#titleCourse {
  width: fit-content;
  margin: auto;
  padding: 5px;
  font-weight: bold;
  border: 3px solid black
}

/*chọn ảnh*/
#video-preview {
  width: 100%;
  margin-bottom: 20px;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"] + label {
  font-family: sans-serif;
  background: #f44336;
  padding: 10px 30px;
  border: 2px solid #f44336;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

[type="file"] + label:hover {
  background-color: #fff;
  color: #f44336;
}