/*container*/
#container {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}

/*header*/
#header {
  width: 80%;
  margin: auto auto 0;
}

.btnHeader {
  color: black;
  text-decoration: none;
}

.btnHeader:hover {
  color: #0d6efd;
  text-decoration: underline;
}

/*clock*/
.clock {
  color: white;
  background-color: black;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  height: fit-content;
}

#avatarWebsite {
  width: 60%;
  padding-left: 6rem;
  margin: 3rem auto 1rem;
}

/*formSignUp*/
#formSignUp {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  align-content: center;
  margin: 0 auto auto;
}

.invalidValue {
  display: none;
  color: red;
  font-size: 14px;
  text-align: start;
  padding: 0.5rem 0 0 0.5rem;
}