/*container*/
#container {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}

/*header*/
#header {
  width: 80%;
  margin: auto auto 0;
}

.btnHeader {
  color: black;
  text-decoration: none;
}

.btnHeader:hover {
  color: #0d6efd;
  text-decoration: underline;
}

/*clock*/
.clock {
  color: white;
  background-color: black;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  height: fit-content;
}

#avatarWebsite {
  width: 60%;
  padding-left: 6rem;
  margin: 5rem auto 1rem;
}

/*formLogin*/
#formLogin {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  align-content: center;
  margin: 0 auto auto;
}

#btnForgetPassword {
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: right;
  opacity: 0.8;
}

.invalidValue {
  display: none;
  font-size: 14px;
  color: red;
  padding: 0.5rem 0.5rem 0;
}