/*container*/
#container {
  margin: 0 auto;
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

#content {
  padding-left: 16.7rem;
}

/*videoInfo*/
#videoInfo {
  height: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  box-sizing: inherit;
  margin: 0.9375rem 1.9375rem 0.625rem;
  padding: 0.9375rem 1.25rem;
  line-height: 1.6rem;
}

#titleVideo {
  margin-bottom: 0;
  padding: 5px;
  font-weight: bold;
  border: 3px solid black
}